<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='booking_page.css')}}">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Booking information</h1>
    </div>
    <p></p>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>
                    Room information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <img src="{{ booking.photo_path }}"
                             class="img-responsive img-rounded" alt="Responsive image">
                        <h4>Price per night:<br>
                            ${{ booking.price }}
                        </h4>
                        <h2>Total:<br>
                            ${{ dates.days * booking.price }}
                        </h2>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <address>
                            <strong>Chain: {{ booking.chain_name }}</strong><br>
                            Hotel: {{ booking.location }}<br>
                            Accomodation: {{ booking.name }}<br>
                            Number of guests: {{ booking.capacity }}
                        </address>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <address>
                            <strong>Reception manager:</strong><br>
                            <a href="mailto:#">first.last@example.com</a>
                        </address>
                        <span class="glyphicon glyphicon-log-in"></span>
                        <strong>Check-in date:</strong>
                        <time datetime="2014-09-25T12:00"> {{ dates.check_in }}</time>
                        <br>
                        <span class="glyphicon glyphicon-log-out"></span>
                        <strong>Check-out date:</strong>
                        <time datetime="2014-09-28T12:00">{{ dates.check_out }}</time>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div id="map" style="width: 600px; height: 300px" alt="Responsive image"
                             class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Personal information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form action="{{ url_for('book') }}" method=POST>
                    {{ reservation.hidden_tag() }}
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="form-group">
                            {{ reservation.first_name }}
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="form-group">
                            {{ reservation.last_name }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ reservation.email }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            {{ reservation.ssn }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        {{ reservation.country_code }}
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><span
                            class="glyphicon glyphicon-comment"></span>
                        <i>You can provide special requests. Hotel management will do anything they can help you
                            with</i>
                    </h5>
                </div>
                <textarea class="form-control col-xs-6 col-sm-6 col-md-6 col-lg-6" rows="2"></textarea>
                <span class="message">Due amount: $ {{ dates.days * booking.price }}</span>
            </div>
        </div>
        <button role="submit" class="btn btn-primary btn-lg">Pay & Book</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>


<script type="text/javascript">
ymaps.ready(init);

function init () {
var myMap = new ymaps.Map("map", {
        center: [55.79185507, 49.10962100],
        zoom: 17
    }, {
        searchControlProvider: 'yandex#search'
    }),
    // Метка, содержимое балуна которой загружается с помощью AJAX.
    placemark = new ymaps.Placemark([55.79185507, 49.10962100], {
        iconContent: "Click to get the address",
        hintContent: "You can drag this placemark anywhere you want and get the address"
    }, {
        // Запретим замену обычного балуна на балун-панель.
        balloonPanelMaxMapArea: 0,
        draggable: "true",
        preset: "islands#blueStretchyIcon",
        // Заставляем балун открываться даже если в нем нет содержимого.
        openEmptyBalloon: true
    });

// Обрабатываем событие открытия балуна на геообъекте:
// начинаем загрузку данных, затем обновляем его содержимое.
placemark.events.add('balloonopen', function (e) {
    placemark.properties.set('balloonContent', "Loading...");

    // Имитация задержки при загрузке данных (для демонстрации примера).
    setTimeout(function () {
        ymaps.geocode(placemark.geometry.getCoordinates(), {
            results: 1
        }).then(function (res) {
            var newContent = res.geoObjects.get(0) ?
                    res.geoObjects.get(0).properties.get('name') :
                    'Could not find address. Try again';

            // Задаем новое содержимое балуна в соответствующее свойство метки.
            placemark.properties.set('balloonContent', newContent);
        });
    }, 1500);
});

myMap.geoObjects.add(placemark);
}

</script>
<script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>