<!doctype html>

<html>
<head>
  <meta charset="utf-8">

  <title>HMS - Locations</title>
  <meta name="description" content="HMS locations">
  <meta name="author" content="edge peach mac">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common-bg.css') }}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container-fluid">
    <div class="row top-block">
      <div class="col-md-12">
        <div class="well">
          <form action="{{ url_for('search') }}" method=GET class="form-inline">
              {{ search.csrf_token }}
            <label>&nbsp;From:</label>
            <div class="form-group">
              {{ search.from_date }}
            </div>
            <label>&nbsp;To:</label>
            <div class="form-group">
              {{ search.to_date }}
            </div>
            <label>&nbsp;Max price:</label>
            <div class="form-group">
              {{ search.max_price }}
            </div>
            <label>&nbsp;City:</label>
            <div class="form-group">
                {{ search.city }}
            </div>
            <button type="submit" id="search" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
    {% for location in results %}
    <div class="thumbnail">
      <a href="{{ url_for('book') }}?roomtype_id={{ location.id }}&check-in={{ search.from_date.data }}&check-out={{ search.to_date.data }}" target=_blank>
        <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <img src="{{ location.photo_path }}" class="img-responsive img-rounded"/>
          </div>
          <div class="col-sm-10">
            <h2>{{ location.chain_name }}</h2>
            <p>{{ location.location }}</p>
            <p>{{ location.price }}</p>
          </div>
        </div>
        </div>
      </a>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
